{{#unless this.hideHeading}}
  <h3 id="header-naviagtion-area" class="uk-margin-small">{{this.area.name}}</h3>
{{/unless}}
<ul class="uk-nav uk-nav-default">
  {{#link-to "list.index" this.area.key tagName="li" activeClass="uk-active"}}
    {{link-to (translate "overview") "list.index" this.area.key}}
  {{/link-to}}
  {{#each this.area.categoryKeys as |categoryKey|}}
    {{#link-to "list.category" this.area.key categoryKey tagName="li" activeClass="uk-active"}}
      {{link-to (get (get this.area.categories categoryKey) "name") "list.category" this.area.key categoryKey}}
    {{/link-to}}
  {{/each}}
</ul>
