{{#unless this.hideHeading}}
  <h3 id="header-naviagtion-area" class="uk-margin-small">{{this.area.name}}</h3>
{{/unless}}
<ul class="uk-nav uk-nav-default">
  <li>
    <LinkTo @route="list.index">{{translate "overview"}}</LinkTo>
  </li>
  {{#each this.area.categoryKeys as |categoryKey|}}
    <li>
      <LinkTo @route="list.category" @model={{categoryKey}}>{{get (get this.area.categories categoryKey) "name"}}</LinkTo>
  </li>
  {{/each}}
</ul>
