<div class="uk-margin">
  <form class="uk-search uk-search-default">
    <span data-uk-search-icon></span>
    {{input class="uk-search-input" type="search" placeholder=(translate "search") value=query key-up=(action "queryChanged")}}
  </form>
</div>

{{yield filteredEvents}}