<div class="uk-margin">
  <div class="uk-search uk-search-default uk-width-1-1">
    <span data-uk-search-icon></span>
    {{input class="uk-search-input" type="search" placeholder=(translate "search") value=query key-up=(action "queryChanged")}}   
    {{#if query}}
      <button class="search-clear" type="button" uk-close {{action "clearSearch"}}></button>
    {{/if}}
  </div>
</div>

{{yield filteredEvents}}
