{{#link-to "list.category.event" "ausbildung" "bpa" 1234 classNames="event-list-item uk-link-reset"}}
  <h3 class="uk-margin-small">
    {{status-lamp status=status}}{{get event.displayData title}}
  </h3>
  <table class="details-table">
    <tbody>
      {{#each fields as |field|}}
      {{#if (get event.displayData field.key)}}
      <tr>
        <td>{{field.name}}</td>
        <td>{{get event.displayData field.key}}</td>
      </tr>
      {{/if}}
      {{/each}}
    </tbody>
  </table>
{{/link-to}}