<a class="event-list-item uk-link-reset" href="details.html">
  <h3 class="uk-margin-small">
    {{status-lamp status=status}}{{event.Designation}}
  </h3>
  <table class="details-table">
    <tbody>
      {{#each fields as |field|}}
      <tr>
        <td>{{field.name}}</td>
        <td>{{get event.displayData field.key}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</a>