<div class="uk-margin">
  <form class="uk-search uk-search-default">
    <span uk-search-icon></span>
    {{input class="uk-search-input" type="search" placeholder="Suche..." value=value key-up=(action 'queryChanged')}}
  </form>
</div>

{{yield filteredItems}}