<h2>Kursübersicht</h2>
<p>
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
  aliquyam erat, sed diam voluptua. At vero eos et accusam et. (Was soll hier stehen?)</p>
{{event-list items=model.events page=page queryChanged="queryChanged"}}