<ol class="steps">
  <li class="step1">
    <span>Personendaten</span>
  </li>
  <li class="step2 current">
    <span>Bestätigung</span>
  </li>
</ol>
<h2>Besten Dank für Ihre Anmeldung</h2>

<p>Sie erhalten eine Anmeldebestätigung per E-Mail.</p>

<p>Kurssekretariat
  <br>Telefon 031 123 45 67
  <br>info@kurssekretariat.ch</p>

<h2>Ihre Angaben</h2>
<p>...</p>

<div class="uk-margin">
  {{link-to "Zurück zur Kursübersicht" "list.category" classNames="uk-button uk-button-default uk-float-left"}}
</div>