<div class="uk-height-large">
  <div class="uk-position-center">
    <span data-uk-spinner></span> <span class="uk-padding-small">{{translate "sendingData"}}</span>
  </div>
</div>
<script>
     document.getElementById("kursausschreibung-root").scrollIntoView({behavior:'smooth'});
</script>