<h2>{{model.displayData.Designation}}</h2>
{{event-details-table event=model}}

<div class="uk-margin">
  <a class="uk-link-reset">
    <span uk-icon="download">
    </span>Kursinformationen
  </a>
</div>
<div class="uk-margin">
  {{link-to "Anmelden" "list.category.event.subscribe" classNames="uk-button uk-button-primary uk-float-left subscribe-button"}}
  {{link-to "Zurück" "list.category" classNames="uk-button uk-button-default uk-float-right"}}
</div>