.uk-scope {
  display: inline-block;
  width: 100%;
  min-height: 300px;
}

/*Navigation stylen*/
.uk-scope .uk-navbar-container:not(.uk-navbar-transparent) {
  background: transparent;
}

.uk-scope .uk-navbar-container {
  border-bottom: 1px solid #e5e5e5;
}

.uk-scope .uk-navbar-nav>li.uk-active>a {
  border-bottom: 2px solid #1e87f0;
}

.uk-scope h2 {
  overflow-wrap: break-word;
}

.uk-scope .event-list-item:hover {
  display: block;
  background: #f5f5f5;
}

.uk-scope .uk-navbar-container {
  min-height: 80px;
}

.uk-scope .status-lamp {
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  margin-right: 8px;
}

.uk-scope .lamp-red {
  background-color: red;
}

.uk-scope .lamp-green {
  background-color: green;
}

.uk-scope .lamp-chartreuse {
  background-color: chartreuse;
}

.uk-scope .lamp-orange {
  background-color: orange;
}

.uk-scope .lamp-yellow {
  background-color: yellow;
}

.uk-scope .details-table > tbody > tr > td:first-child {
  padding-right: 15px;
  font-weight: bolder;
}

.uk-scope .details-table td:last-child {
  white-space: pre-wrap;
}

.uk-scope .details-table td {
  vertical-align: top;
}

/* form */
.uk-scope input:invalid {
  border-color: red !important;
}

.uk-scope input[type="date"]::-webkit-inner-spin-button {
  display: none; /* this doesn't display correctly in chrome+uikit so we hide it */
}

/* mobile */
@media (max-width: 959px) {
  .uk-scope .subscribe-button {
    position: fixed;
    bottom: 0px;
    min-width: 200px;
    left: calc((100vw - 200px) / 2);
    z-index: 200; /* always on top */
  }
  .uk-scope ol.steps {
    font-size: 14px;
  }
}

/* small mobile */
@media (max-width: 499px) {
  .uk-scope .details-table.table-collapse td {
    display: block;
  }
  .uk-scope .details-table.table-collapse td:first-child {
    padding-bottom: 0;
  }

  .uk-scope .details-table.table-collapse td:last-child {
    padding-top: 12px;
  }
  .uk-scope ol.steps span.stepText {
    display: none;
  }

}

/*Process Steps */
.uk-scope ol.steps {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.uk-scope ol.steps li:after {
  position: absolute;
  top: 50%;
  left: 100%;
  height: 0;
  width: 0;
  pointer-events: none;
  border: solid transparent;
  border-left-color: #E0ECFF;
  border-width: 19px;
  margin-top: -19px;
}

.uk-scope ol.steps li:first-child {
  margin-left: 0;
}

.uk-scope ol.steps li:first-child span:after {
  border: none;
}

.uk-scope ol.steps li.stepConnector {
  padding: 0px 20px 0px 20px;
}

.uk-scope ol.steps li span:after {
  position: absolute;
  top: 50%;
  right: 100%;
  height: 0;
  width: 0;
  pointer-events: none;
  border: solid #E0ECFF;
  border-left-color: transparent;
  border-width: 19px;
  margin-top: -19px;
}

.uk-scope ol.steps>li {
  float: left;
  color: #666;
}

.uk-scope ol.steps li.current {
  color: black;
}


