/* based on https://ericheikes.com/creating-a-progress-bar-with-css/ */
.uk-scope ol.steps {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 13px;
  line-height: 20px;
  font-weight: bold;
}

.uk-scope ol.steps li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  text-align: center;
  background: #E0ECFF;
  position: relative;
  margin-left: 43px;
}

.uk-scope ol.steps li:after {
  position: absolute;
  top: 50%;
  left: 100%;
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
  border: solid transparent;
  border-left-color: #E0ECFF;
  border-width: 19px;
  margin-top: -19px;
}

.uk-scope ol.steps li:first-child {
  margin-left: 0;
}

.uk-scope ol.steps li:first-child span {
  padding: 9px;
}

.uk-scope ol.steps li:first-child span:after {
  border: none;
}

.uk-scope ol.steps li span {
  display: block;
  padding: 9px 28px 9px 9px;
}

.uk-scope ol.steps li span:after {
  position: absolute;
  top: 50%;
  right: 100%;
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
  border: solid #E0ECFF;
  border-left-color: transparent;
  border-width: 19px;
  margin-top: -19px;
}

.uk-scope ol.steps>li {
  float: left;
  color: black;
}

.uk-scope ol.steps li.current {
  color: #fff;
  background: #1e87f0;
}

.uk-scope ol.steps li.current:after {
  border-left-color: #1e87f0;
}

.uk-scope ol.steps li.current span:after {
  border-color: #1e87f0;
  border-left-color: transparent;
}

.uk-scope ol.steps li.step1 {
  z-index: 1;
}

.uk-scope ol.steps li.step2 {
  z-index: 0;
}
