:root {
    --primaryRed: rgb(234, 22, 31);
    --secondaryGray: rgba(78, 78, 78, 0.95);
    --boxContainer: rgb(250, 241, 227);
} 

.uk-scope .uk-navbar-nav > li.uk-active > a {
    border-bottom: 0px solid var(--secondaryGray);
    font-size: larger;
	text-transform: none;
}

.uk-scope .uk-navbar-nav > li.uk-active > a:hover {
    border-bottom: 0px solid var(--primaryRed);
}

.uk-nav>li>a {
    padding: 15px 0;
}

ul.uk-nav.uk-nav-default {
    display: -webkit-inline-box;
	width: 100%
}

.uk-card-small .uk-nav-default .uk-nav-divider, .uk-card-small .uk-nav-default .uk-nav-header, .uk-card-small .uk-nav-default>li>a {
    padding-left: 0px;
    padding-right: 0px;
	margin-right: 20px
}

.uk-button-primary:hover {
    background-color: var(--primaryRed) !important;
}

.uk-dropdown.uk-dropdown-bottom-left {
	background: var(--boxContainer);
}

.uk-visible\@m.uk-width-1-4\@m.uk-first-column {
    width: 100%;
}
.uk-width-3-4\@m.center-container.uk-margin-bottom.uk-grid-margin.uk-first-column {
    width: 100%;
}

.uk-subnav-pill>.uk-active>a {
    background-color:var(--primaryRed);
}

.uk-scope .uk-button-primary {
    background-color: var(--secondaryGray);
	color: white;
}

.uk-scope .uk-form-horizontal .uk-form-label {
    opacity: 0.8;
}

.uk-scope .uk-card-default {
    box-shadow: none;
}

.uk-scope .uk-list-divider > :nth-child(n+2) {
    border-top: none;
}

.uk-scope .lamp-green {
	background-color: #6C9A29;
}
.uk-scope .lamp-chartreuse {
	background-color: #C0CD23;
}
.uk-scope .lamp-red {
	background-color: #E30613;
}
.uk-scope .lamp-orange {
	background-color: #EDA990;
}

.uk-scope .icon-lamp {
    color: white;
}


.uk-nav-default .uk-nav-header, .uk-nav-default>li.uk-active>a {
	font-weight: normal;
	border-bottom: solid 2px var(--primaryRed);
}

.uk-nav-default, .uk-nav-header {
    font-size: inherit;
}

.uk-card.uk-card-default.uk-card-small.uk-card-body {
    padding: 0px;
}

h3#header-naviagtion-area {
    font-size: 30px;
}

h2, h3 {
	font-weight: 300;
}

ul.uk-pagination {
    display: none;
}

h2#header-legend {
    display: none;
}

.uk-width-3-4\@m.center-container.uk-margin-bottom.uk-grid-margin.uk-first-column {
    margin-top: 20px;
}

nav.uk-navbar-container.uk-margin-top.uk-navbar {
    display: none;
}

#headerCategory {
	display: none;
}

@media screen and (max-width: 959px) {
	
.uk-nav-default .uk-nav-header, .uk-nav-default>li.uk-active>a {
	color:var(--primaryRed);
	font-weight: normal;
	border-bottom: none;
}
	
	
.uk-nav>li>a {
    padding: 5px 0;
}
.uk-grid.uk-margin {
    padding-top: 0px;
}

ul.uk-nav.uk-nav-default {
    display: block;
    border-bottom: 0px;
}

.uk-visible\@m {
    display: block !important;
}
	
}
