/*
Home CSS / KTBE Mobile / checked 03.2017 mos
zuletzt geändert: 09.01.2015 mos
*/

* {
    box-sizing: content-box;
}

body#home #content {
    background-image: none;
}


/* Neue Raster-Definitionen */

body#home #wrapper-nav-main {
    float: left;
    width: 760px;
    background-image: url("/etc/designs/std/media/subsite/bg-wrapper-nav-main.gif");
}

body#home #content-col-nav,
body#home #content-col-main,
body#home #content-col-context {
    margin: 33px 0 0 0;
    font-size: 1.1em;
}

body#home #content-col-nav {
    width: 291px;
    padding: 0 0 0 10px;
}

body#home #content-col-main {
    width: 381px;
    padding: 0 0 0 20px;
}

body#home #content-col-context {
    width: 210px;
    margin: 0;
    padding-top: 33px;
}


/* Linke Spalte */

body#home #content-col-nav .teaser h2 {
    padding-bottom: 2px;
}

body#home #content-col-nav .teaser h2 a {
    border: none;
    color: #002889;
}

body#home #content-col-nav .teaser h2 a:hover {
    background-color: transparent;
    color: #0026E0;
}

body#home #content-col-context ul {
    margin: 10px 0;
    padding: 0;
    list-style: none;
    clear: left;
}

body#home #content-col-nav li {
    background-image: url("media/ktbe_sprite_30px.svg");
    background-repeat: no-repeat;
    background-size: auto;
    display: inline;
    padding-top: 2px;
    background-position: -10px -3496px;
    line-height: 1.4em;
    margin-bottom: 7px;
    padding-left: 15px;
}

body.ie9orOlder body#home #content-col-nav li {
    background-image: url("/images/ktbe_sprite_30px.png") !important;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: optimizeQuality;
}

body.msie body#home #content-col-nav li {
    background-image: url("/images/ktbe_sprite_30px.png") !important;
}

body#home #content-col-nav li:before {
    content: " ";
    display: inline;
}

body#home #content-col-nav li:hover {
    background-position: -10px -3596px;
}

body#home.ie9orOlder #content-col-nav li,
body#home.msie #content-col-nav li {
    background-image: url("/images/ktbe_sprite_30px.png") !important;
}

body#home #content-col-nav ul {
    margin: 10px 0;
    padding: 0;
    list-style: none;
    border: 0;
}

body#home #content-col-nav li {
    display: block;
    margin: 0 0 10px 0;
    padding: 0;
    padding-left: 17px;
}

body#home #content-col-nav li a {
    display: inline;
    border-top: 0;
    color: #13226E;
    text-decoration: underline;
    padding: 0;
}

body#home #content-col-nav li a:hover {
    color: #0026E0;
    text-decoration: none;
}

body#home #content-col-nav li a:visited {
    color: #800080;
}

body#home #content-col-nav h1 {
    font-size: 1.5em !important;
    font-weight: normal;
    margin-top: 0px;
}

body#home #content-col-nav h1.follow {
    margin-top: 20px;
}

body#home #content-col-nav .box h1 {
    font-size: 1.2em !important;
    font-weight: bold;
    color: #161616;
}

body#home #content-col-nav .box a {
    display: inline;
    border: 0;
    text-decoration: underline;
}

body#home #content-col-nav .box a.icon {
    margin-left: 2px;
    background-position: 0 4px;
}

body#home #content-col-nav .box a.icon:hover {
    background-color: transparent;
}

body#home #content-col-nav .box a.name {
    font-weight: bold;
    color: #002889;
    padding: 0;
}

body#home #content-col-nav .box a.name:hover {
    color: #0026e0;
}

body#home #content-col-nav .box img {
    float: left;
    padding: 3px 10px 10px 0;
}


/* Mittlere Spalte */

body#home #content-col-main h1 {
    /* margin-bottom: 10px; */
}

body#home #content-col-main h1.follow {
    margin-top: 20px;
}

body#home #content-col-main h2 {
    font-size: 1.1em;
    margin: 10px 0 2px 0;
}

body#home #content-col-main h2 a {
    color: #002889;
}

body#home #content-col-main h2 a:hover {
    color: #0026e0;
}

body#home a.more {
    text-decoration: none;
}

body#home #content-col-main .ticker {
    border: 0;
    border-bottom: 1px solid #4A81B6;
    margin: 0;
}

body#home #content-col-main .ticker p {
    margin-top: 0;
}

body#home #content-col-main .ticker p.date {
    color: #515151;
    margin-bottom: 0;
}


/* Rechte Spalte */

body#home #content-col-context {
    background-image: none;
}

body#home #content-col-context h1 {
    font-size: 1.5em;
    font-weight: normal;
    padding: 0;
}

body#home #content-col-context .ticker {
    border: 0;
    margin: 0 10px 0 0;
}

body#home #content-col-context .ticker p {
    margin-top: 0;
}

body#home #content-col-context .ticker p.date {
    color: #515151;
    margin-bottom: 0;
    font-size: 0.9em;
}

body#home #content-col-context ul {
    margin: 10px 0;
    padding: 0;
    list-style: none;
    clear: left;
}

body#home #content-col-context li {
    background-image: url("/etc/designs/std/media/icon-liste.gif");
    background-position: 4px 1px;
    background-repeat: no-repeat;
    line-height: 1.4em;
    margin-bottom: 7px;
    padding-left: 15px;
}


/* Bild unten (Key Visual) */

body#home div.image {
    padding: 30px 0 40px 10px;
    background-color: #fff;
}

* html body#home div.image,
*+html body#home div.image {
    padding: 15px 0 40px 10px;
    background-color: #fff;
}


/* Allgmeine */

a.more {
    background-position: 3px 0;
}


/*# sourceMappingURL=home.css.map */