<h2>Kategorie 1</h2>
<p>
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
  aliquyam erat, sed diam voluptua. At vero eos et accusam et.</p>

<!-- LIST OF EVENTS -->
{{event-list items=model queryChanged=(action 'queryChanged') page=page}}
