<h2>Kategorie 1</h2>
<p>
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
  aliquyam erat, sed diam voluptua. At vero eos et accusam et.</p>

<!-- LIST OF EVENTS -->
{{#list-search queryChanged=(action 'queryChanged') items=model query=query as |filteredEvents|}}
  {{#list-pagination page=page items=filteredEvents as |eventsOnCurrentPage|}}
    {{#each eventsOnCurrentPage as |event|}}
      {{event-list-item event=event}}
    {{/each}}
  {{/list-pagination}}
{{/list-search}}
