{{! LEFT }}
{{#unless eventCategoryDropdown}}
  <div class="uk-visible@m uk-width-1-4@m">
    <div class="uk-card uk-card-default uk-card-small uk-card-body">
      {{area-navigation model}}
    </div>
  </div>
{{/unless}}

{{! CENTER }}
<div class="{{centerWidth}} center-container uk-margin-bottom">
  {{outlet}}
</div>
